* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#body {
  display: grid;
  grid-template-columns: auto 1fr auto;
  height: 100vh;
  background-color: #3b3b3b;
}

.sidebar {
  width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow: hidden;
}

a-scene {
  border: 2px solid #3b3b3b;
  margin: 2px;
  border-radius: 10px;
  overflow: hidden;
}

#content {
  object-fit: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}

#content img {
  height: 80vh;
  width: fit-content;
  object-fit: contain;
}
